streamlit==1.41.1
psycopg2-binary==2.9.10
opencv-python==4.11.0.86
pyzbar==0.1.9
qrcode==8.0
reportlab==4.2.5
pillow==11.1.0
pillow
psycopg2-binary
python-dotenv
streamlit
opencv-python
pillow
psycopg2-binary
python-dotenv
pyzbar
qrcode
reportlab
streamlit
opencv-python
plotly
psycopg2-binary
pyzbar
qrcode
reportlab
streamlit
twilio
python-dotenv
numpy
opencv-python
pandas
plotly
psycopg2-binary
python-dotenv
pyzbar
qrcode
reportlab
streamlit
twilio
python-dotenv
